<footer class="footer">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-md-12 col-sm-12 text-center">
                Desenvolvido por <strong>Elvis Souza</strong></br>
                <i class="fa fa-github" data-toggle="tooltip" title="" data-original-title="fa fa-github"></i>
                <i class="fa fa-linkedin-square" data-toggle="tooltip" title="" data-original-title="fa fa-linkedin-square"></i>
            </div>
        </div>
    </div>
</footer>